:root {
  --default: #172b4d;
  --primary: #5e72e4;
  --success: #2dce89;
  --info: #11cdef;
  --warning: #fb6340;
  --danger: #f5365c;

  --success-lighten: lighten(#2dce89, 45%);
  --info-lighten: lighten(#11cdef, 39%);
  --warning-lighten: lighten(#fb6340, 35%);
  --danger-lighten: lighten(#f5365c, 35%);

  --success-border: lighten(#2dce89, 30%);
  --info-border: lighten(#11cdef, 30%);
  --warning-border: lighten(#fb6340, 30%);
  --danger-border: lighten(#f5365c, 30%);
}
